In [1]:
import pandas as pd

In [54]:
reviews = pd.read_csv('../data/large_files/reviews_dropped_nulls.csv', index_col=0)

/Users/kevin/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [55]:
reviews = reviews[['review_profilename', 'beer_beerid', 'review_overall']]

In [57]:
reviews['review_overall'] = reviews['review_overall'] * 2
reviews

        review_profilename  beer_beerid  review_overall
0                  stcules        47986             3.0
1                  stcules        48213             6.0
2                  stcules        48215             6.0
3                  stcules        47969             6.0
4           johnmichaelsen        64883             8.0
...                    ...          ...             ...
1586609         maddogruss        33061            10.0
1586610          yelterdow        33061             8.0
1586611           TongoRad        33061             9.0
1586612           dherling        33061             8.0
1586613               cbl2        33061            10.0

[1518478 rows x 3 columns]

WeightedRating(WR)=(v/(v+m)⋅R)+(m/(v+m)⋅C)
v = number of votes for the beer
m = the minimum number of votes to be listed in the chart
R = average rating of the movie
C is the mean vote across the whole dataset

In [58]:
mean_ratings = reviews.groupby('beer_beerid', as_index=False)['review_overall'].mean()

In [98]:
num_votes = pd.DataFrame(data={'beer_id':reviews['beer_beerid'].value_counts().index, 'num_votes':reviews['beer_beerid'].value_counts().values})
popular = num_votes.merge(mean_ratings, left_on='beer_id', right_on='beer_beerid')
popular.drop(columns=('beer_beerid'), inplace=True)
popular.rename(columns={'review_overall': 'mean_rating'}, inplace=True)
popular['overall_mean_rating'] = popular['mean_rating'].mean()
popular_75 = popular[popular['num_votes']>=10]
popular_75['weighted_rating'] = (((popular_75['num_votes'] / (popular_75['num_votes'] + 10)) * popular_75['mean_rating']) + ((10/(popular_75['num_votes'] + 10)) * popular_75['overall_mean_rating']))
top_5 = popular_75.sort_values('weighted_rating', ascending=False)[0:5]
top_5['mean_rating'].mean()

/Users/kevin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

9.278189365766117

In [81]:
beers_key = pd.read_csv('../data/beers_key.csv', index_col=0)

In [82]:
beers_key

         beer_beerid               beer_name                 brewery_name
0              47986            Sausa Weizen              Vecchio Birraio
1              48213                Red Moon              Vecchio Birraio
2              48215  Black Horse Black Beer              Vecchio Birraio
3              47969              Sausa Pils              Vecchio Birraio
4              64883           Cauldron DIPA      Caldera Brewing Company
...              ...                     ...                          ...
1518459        41749             Irish Amber  The Defiant Brewing Company
1518461        38160         Highland Porter  The Defiant Brewing Company
1518462        71234        Baron Von Weizen  The Defiant Brewing Company
1518463        43233              Double IPA  The Defiant Brewing Company
1518464        33061      The Horseman's Ale  The Defiant Brewing Company

[49000 rows x 3 columns]

In [95]:
beers_key[beers_key['beer_beerid'] == 7971]

         beer_beerid        beer_name                   brewery_name
1078751         7971  Pliny The Elder  Russian River Brewing Company